#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Sublime-Text dateien ignorieren
*.sublime-*

# node.js Module ignorieren
*node_modules*

# bilder ignorieren
/bilder

# generierte JS & CSS Dateien
*prefixed.css
*.min.css
*.concat.js
*.min.js
*.gz

# zip-File
spiel_memory.zip